<h1>Home Page</h1>

<p><%= @repos[0][0].title %></p>
<p><%= @repos[0][0].closed_issues %></p>
<p><%= @repos[0][0].open_issues %></p>




<!--<% @repos.each do |repo| %>
  <% repo.each do |milestone| %>
      <%= milestone.title %>
  <% end %>
<% end %> 
---!>




